.grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 3rem);
}

.grid__item {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
}

.grid__item__second {
    grid-column: 2/3;
}

.grid__item__third {
    grid-column: 3/4;
}

.grid__item__fourth {
    grid-column: 4/5;
}

.grid__item__wide {
    grid-column: 2/5;
}
.button-group__item{
    width: 100%;
    text-align: right;
}
.alart-message{
    font-size: 16px;
    color: rgb(250, 28, 28);
}