.grid {
    width: 100%;
    display: grid;
}

.grid__item--bold {
    color: #000;
    font-weight: bold;
}

.grid__item {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
    border-bottom: 2px solid #e5e5e5bf;
    line-height: 4rem;
}

.grid__item__wide {
    grid-column: 2/5;
    padding: 0.5rem;
    font-size: 16px;
    text-align: left;
    line-height: 1.5rem;
}

.form-item__label {
    padding-left: 3rem;
    text-align: left;
}

.button-group__item {
    width: 100%;
    text-align: right;
    margin-top: 2rem;
}

.form-item__input {
    height: 2rem;
    text-align: center;
    font-size: 18px;
}

.form-button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: bold;
}

.alart-message {
    font-size: 16px;
    color: rgb(250, 28, 28);
    list-style-type: none;
}