.pegination {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    margin: 2rem 0;
    padding: 0 2rem;
}

.current {
    font-weight: bold;
}

.pegination__link {
    color: #808080;
}