.tab-group {
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
    text-align: left;
    margin-bottom: 2.5rem;
}

.tab {
    margin: 1rem 3rem;
}

.tab.active {
    font-weight: bold;
}